<div class="archive-container" @fadeIn>
  <div class="product-image-container">
    <img src="{{selectedProduct.productImg}}" alt="">
  </div>
  <div id="product-description">
    <span style="text-transform: capitalize">{{selectedProduct.name}}</span><br><br>
    <!--<span>{{selectedProduct.modelNumber}}</span><br><br>-->
    <div>
      <span>{{selectedProduct.description}}</span>
    </div>
    <br>
    <br>
    <div>
      <span>{{selectedProduct.features}}</span>
    </div>
    <br>
    <br>
    <div>
      <span>{{selectedProduct.details}}</span>
    </div>
    <br>
    <br>
    <div>
      <span>{{selectedProduct.dimensions}}</span>
    </div>
    <br>
    <br>
    <button class="btn">Contact to Order</button>
  </div>
  <div *ngFor="let image of selectedProduct.displayImgs" class="product-image-container" @fadeIn>
    <img src="{{image}}" alt="">
  </div>
</div>
<footer @fadeIn></footer>
